{% extends 'base.html.twig' %}

{% block title %}Mon compte - La Boutique{% endblock %}

{% block content %}

    <h1>Mon compte</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <small><a href="/admin">Accédez au backoffice en tant qu'administrateur</a></small><br>
    {% endif %}
    Bienvenue {{ app.user.firstname }} dans votre compte.
    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="account-item text-center">
                <a href="{{ path('account_order') }}">Mes commandes
            </div>
        </div>
    </div>
    <hr>

{% endblock %}
